</div>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<div class="footer-padding"></div>
  <div class="footer" style="color:rgba(110, 114, 114, 0.3);">
    <footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        
          Follow us on:
          <a href="https://www.linkedin.com/in/gargi-jaiswal-455617246" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://www.facebook.com/profile.php?id=100030824889804&mibextid=ZbWKwL" target="_blank">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="https://instagram.com/gargi_jaisss?igshid=MzNlNGNkZWQ4Mg==" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://github.com/Gargi-jais11" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
