<%- include("partials/header"); -%>
    <h1>About</h1>
<img src="<%= require('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgWy3DLSoDNZxaoOiVo3G9I7-fXtRAztlpB8YtYejl&s') %>" alt="" class="logo">

    <p> <%= aboutContent %> </p>
<%- include("partials/footer"); -%>
