<%- include("partials/header"); -%>
    <h1>About</h1>
 <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fpixabay.com%2Fimages%2Fsearch%2Fnature%2F&psig=AOvVaw22x0-lu1B54wAdJzaa0SaO&ust=1690396707053000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCNDN7srAqoADFQAAAAAdAAAAABAE" alt=" image">

    <p> <%= aboutContent %> </p>
<%- include("partials/footer"); -%>
