<%- include("partials/header"); -%>
    <h1>About</h1>
<img src="https://drive.google.com/file/d/1FrnC7KxTilp1_TyjpcZ_zuVDbfBzMdU1/view?usp=sharing">
    <p> <%= aboutContent %> </p>
<%- include("partials/footer"); -%>
